@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>C_01_BaseInfo</title>
</head>
<body>
    <p>
        Content - создает ActionResult представляющий строковой контент
        отправляющийся в ответ пользователю.
    </p>
    <ul>
        <li>первый параметр - текстовые данные, которые необходимо отправить.</li>
        <li>второй параметр - MIME тип возвращаемых данных, 
        по умолчанию text/html.</li>
        <li>третий параметр - кодировка.</li>
    </ul>
</body>
</html>
