@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Base Info", "C_01_BaseInfo")<br />
        @Html.ActionLink("Content", "C_02_Content")<br />
        @Html.ActionLink("Empty Result", "C_03_EmptyResult")<br />
    </div>
</body>
</html>
