@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Areas</title>
    <link href="~/Content/My.css" rel="stylesheet" />
</head>
<body>
    <p>
        Область – функциональный сегмент приложения, такой как администрирование,
        кабинет пользователя.
        Области позволяют определить к каким функциональным областям относятся элементы проекта.
    </p>
    <p>
        Область можно представить, как MVC приложение в составе другого MVC приложения,
        так как область содержит свои контроллеры, модели и представления.
        Каждая область содержит свои контроллеры, представления и модели.
    </p>

    <p>
        Регистрация областей в Application_Start.
    </p>
    <p>
        Поиск объектов типа производного от AreaRegistration
        и вызов методов RegisterArea для регистрации маршрутов каждой области.<br />
        Метод RegisterAllAreas проходит по всем классам приложения
        и находит те классы, которые унаследованы от AreaRegistration.
    </p>
    <p class="code">
        AreaRegistration.RegisterAllAreas();
    </p>
</body>
</html>