@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateLink</title>
</head>
<body>
    <div>
        <h2>Представление Index контроллера Home</h2>

        @*Генерация ссылки на действие в другом контроллере.
        Результат работы метода ActionLink зависит от текущей схемы маршрутизации
        результат: <a href="/_001_Home/Customer">Работа с клиентами</a>*@
        
        @Html.ActionLink("ActionLink _02_ActionWithoutParameters", "_02_ActionWithoutParameters", "_02_Link")

        <br />
        <br />

        @Html.RouteLink("RouteLink _02_ActionWithoutParameters", new { controller = "_02_Link", action = "_02_ActionWithoutParameters" })

        <br />
        <br />

        @*Передача дополнительных параметров действию*@
        @Html.ActionLink("ActionLink _02_ActionWithParameters", "_02_ActionWithParameters", "_02_Link", new { id = "Ivanov-Ivan" }, null)

        <br />
        <br />

        @*Добавление HTML атрибутов*@
        @Html.ActionLink("ActionLink _02_ActionWithParameters with style", "_02_ActionWithParameters", "_02_Link", new { id = "Ivanov-Ivan" }, new { style = "font-size:25px;" })
        <br />
        <br />

    </div>
</body>
</html>
