@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Areas</title>
</head>
<body>
    <p>
        Область – функциональный сегмент приложения, такой как администрирование,
        кабинет пользователя.
    </p>
    <p>
        Область можно представить, как MVC приложение в составе другого MVC приложения,
        так как область содержит свои контроллеры, модели и представления.
    </p>
</body>
</html>