@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCustomer</title>
</head>
<body>
    <div>
        <h2>Представление A_02_ActionWithParameters Id=@ViewBag.Id</h2>
    </div>
</body>
</html>
