<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Form directive attributes</title>
    <!--ng-change позволяет задать выражение, которое будет срабатывать при смене значения элемента-->

    <link href="../00_Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../00_Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="../00_Libraries/angular.js"></script>

    <script>
        angular.module('exampleApp', [])
         .controller('defaultCtrl', function ($scope) {
             $scope.counter = 0;
             $scope.change = function () {
                 $scope.counter++;
             };
         });
    </script>

</head>
<body>
    <div ng-controller="defaultCtrl">
        <input type="checkbox" ng-model="confirmed" ng-change="change()" />
        <input type="checkbox" ng-model="confirmed" />

        <label for="ng-change-example2">Confirmed</label><br />
        <tt>debug = {{confirmed}}</tt><br />
        <tt>counter = {{counter}}</tt><br />
    </div>
</body>
</html>
