@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReceiveDataFromContextObjects</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div>
        <pre>
        Свойства контроллера для доступа к информации о запросе.
            Request - данные о текущем HTTP запросе.
            Response - данные о текущем HTTP ответе.
            RouteData - данные маршрутизации для текущего запроса.
            HttpContext - получение специфической информации о текущем HTTP запросе.
            Server - объект с методами для обработки HTTP запроса.
        </pre>
    </div>
</body>
</html>
