@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>O_01_BaseInfo</title>
    <link href="~/Content/My.css" rel="stylesheet" />
</head>
<body>

    <p>
        <strong>ASP.NET Web Optimization Framework</strong> - набор компонентов позволяющих оптимизировать время загрузки приложения
        посредством уменьшения размера JS и CSS файлов,  а также уменьшения количества запросов к серверу
        посредством объединения нескольких файлов в один bundle.
    </p>

    <p>
        Оптимизация будет работать если собрать проект в release версии. Для переключения на release измените файл web.config
        <span class="code">&lt;compilation debug=&quot;false&quot; targetFramework=&quot;4.5&quot; /&gt;</span>
    </p>

    <p>
        Настройки бандлов, которые отображаются через <span class="code">Styles.Render() и Scripts.Render()</span>
        происходят в классе BundleConfig
    </p>
    <p>
        <strong>StyleBundle</strong> - бандл для стилей. Минимизирует и объединяет несколько CSS файлов.
        Для того что бы не нарушить пути к ресурсам определенным в CSS файлах,
        название папки такое же как и папки с исходными стилями.
    </p>
    <p>
        При загрузке JS файлов браузер останавливается и не загружает другой контент до тех пор,
        пока на загрузит и не выполнит код в JS файле.
        Тяжелые JS файлы лучше подключать перед закрывающим тэгом body, в таком случае,
        браузеру будет что показать пользователю, пока сценарии загружаются с сервера.
        Но стили и некоторые JS библиотека (например, modernizer) должны загружаться в начале страницы,
        так как необходимы для корректного отображения остальной части документа.
    </p>
    <p>
        <span class="code">modernizr-*</span> - такая запись подгрузит все скрипты, которые начинаются с modernizr-
        это позволяет избежать необходимости пересобрать проект после замены библиотеки modernizr на новую версию.
    </p>
    <img src="~/Content/Images/not_optimized.jpg" width="50%" /><br/>
    <img src="~/Content/Images/optimized.jpg" width="50%" />
</body>
</html>
