<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="sampleApp">
<head>
    <title>$broadcast</title>
    <script src="../Libraries/angular.js"></script>
    <script>
        var app = angular.module("sampleApp", []);

        app.controller("senderCtrl", function ($scope, $rootScope) {

            $scope.send = function () {
                // $broadcast - отправка события всем scope от rootScope
                $rootScope.$broadcast("messageEvent", {
                    message: $scope.messageInput
                });
            }

        });

        app.controller("receiverCtrl", function ($scope) {

            // обработка события messageEvent на текущем scope
            $scope.$on("messageEvent", function (event, args) {
                $scope.info = args.message;
            })

        });

    </script>
</head>
<body>
    <div ng-controller="senderCtrl">
        <p>Sender</p>
        <input ng-model="messageInput" />
        <button ng-click="send()">Send</button>
    </div>

    <div ng-controller="receiverCtrl">
        <p>Receiver 1</p>
        <p>Received message - {{info}}</p>
    </div>

    <div ng-controller="receiverCtrl">
        <p>Receiver 2</p>
        <p>Received message - {{info}}</p>
    </div>

</body>
</html>
