@{
    Layout = null;
    string urlCode = Url.HttpRouteUrl("DefaultApi", new { controller = "_04_StartActionNameWithHttpVerb" });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>W_04_StartActionNameWithHttpVerb</title>
</head>
<body>
    <button id="button1">Get @urlCode</button>
    <br />
    <button id="button5">Get @urlCode/55</button>
    <br />
    <button id="button2">Post @urlCode 5</button>
    <br />
    <button id="button3">Put @urlCode "ABC"</button>
    <br />
    <button id="button4">Delete @urlCode/9</button>
    <br />

    <p id="output"></p>

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            var url = "@urlCode";
            var output = document.getElementById("output");

            var button1 = document.getElementById("button1");
            button1.onclick = clickHandlerGet;

            var button2 = document.getElementById("button2");
            button2.onclick = clickHandlerPost;

            var button3 = document.getElementById("button3");
            button3.onclick = clickHandlerPut;

            var button4 = document.getElementById("button4");
            button4.onclick = clickHandlerDelete;

            var button5 = document.getElementById("button5");
            button5.onclick = clickHandlerGetWithParam;

            function OnSuccessCall(response) {
                output.innerHTML = response;
            }

            function OnErrorCall(response) {;
                output.innerHTML = response.status + " " + response.statusText;
            }

            function clickHandlerGet() {
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessCall,
                    error: OnErrorCall
                });
            };

            function clickHandlerGetWithParam() {
                $.ajax({
                    type: "GET",
                    url: url + '/55',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessCall,
                    error: OnErrorCall
                });
            };

            function clickHandlerPost() {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: '5',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessCall,
                    error: OnErrorCall
                });
            };

            function clickHandlerPut() {
                var newValue = "ABC";
                $.ajax({
                    type: "PUT",
                    url: url + "/7",
                    data: JSON.stringify(newValue),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessCall,
                    error: OnErrorCall
                });
            };

            function clickHandlerDelete() {
                $.ajax({
                    type: "DELETE",
                    url: url + "/9",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessCall,
                    error: OnErrorCall
                });
            };
        });
    </script>
</body>
</html>
