@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionPeekData</title>
</head>
<body>
    <div>
        <h2>Action:ActionPeekData</h2>
        Данные полученные из TempData - @Model
        <br />
        @Html.ActionLink("Действие #CheckData", "ActionReadData")
    </div>
</body>
</html>
