@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionSetData</title>
</head>
<body>
    <div>
        <h2>Action: ActionSetData</h2>
        Данные записаны в TempData
        <br />
        @Html.ActionLink("Действие #ReadData", "ActionReadData")<br />
        @Html.ActionLink("Действие #PeekData", "ActionPeekData")<br />
    </div>
</body>
</html>
