@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Передача данных от контроллера к представлению:
        <ol>
            <li>@Html.ActionLink("Передача объекта модели представлению","UseModel")</li>
            <li>@Html.ActionLink("Передача данных с помощью ViewData(использовалось в MVC 2, осталось для обратной совместимости, применять не рекомендуется)", "UseViewData")</li>
            <li>@Html.ActionLink("Передача данных с помощью ViewBag", "UseViewBag")</li>
            <li>@Html.ActionLink("Передача данных с помощью ViewData", "UseTempData")</li>
        </ol>
    </div>
</body>
</html>
