@*Указание типа модели*@
@model System.DateTime
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*Получение доступа к модели*@
        День недели: @Model.Year
    </div>
</body>
</html>
