@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseTempData</title>
</head>
<body>
    <div>
        <div>
            TempData - коллекция, которая используется для передачи данных между запросами к серверу.
        </div>
        <div>
            Данные помещенные в TempData удаляются после того, как будут прочтены.
        </div>
        <div>
            Данные помещенные в TempData хранятся в объекте Session пользователя.
        </div>
    </div>
</body>
</html>
