@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseViewBag</title>
</head>
<body>
    <div>
        <div>
            ViewBag–свойство типа dynamic, которое предоставляет доступ к объекту типа System.Dynamic.ExpandoObject.
        </div>
        <div>
            System.Dynamic.ExpandoObject–класс представляет объект, которому можно добавить или удалить новые члены на этапе выполнения.
        </div>
        <div>
            ViewBag используется для передачи данных от контроллера к представлению.
        </div>
    </div>
</body>
</html>
