@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Templated Helper Method", "TemplatedHelperMethod")
<br />
@Html.ActionLink("Editor For Model", "EditorForModel")
<br />
@Html.ActionLink("Model Metadata", "ModelMetadata")
<br />
@Html.ActionLink("Special Template", "SpecialTemplate")
<br />