@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC Basic Info</title>
</head>
<body>
<ul>
    
    <li>@Html.ActionLink("Base info", "_01_BaseInfo", "_001_Home")</li>
    <li>@Html.ActionLink("Process Requet", "_02_Products", "_001_Home")</li>
</ul>
</body>
</html>
