*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*.dll
!Microsoft.VisualStudio.Shell.dll
*.exe
*.rar
*.7z
*.exe
*.mdf
*.ldf
*.licx
#Algoritms/
#Assist/
#DataStructuresAndAlgorithms/
DiffgramAnalyzer/
#GitSharp/
#GrabDatabase/
#Note/
ParseQuery2/
#Patterns/
#PerformanceLogAnalyzer/
SocialNetwork/
#WorkWithSvn/
WsdlGeneration/
Test/
Dll/
.svn/
#.gitignore
DB/
lib/
tools/
Dllx64/
Dllx86/
TestResults/
packages/
