*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
#*.dll
!Microsoft.VisualStudio.Shell.dll
*.exe
*.rar
*.7z
*.exe
*.mdf
*.ldf
*.licx
*.DotSettings
ParseQuery2/
SocialNetwork/
Tests/
Dll/
.svn/
#.gitignore
DB/
lib/
tools/
Dllx64/
Dllx86/
TestResults/
packages/
/Note/Note/Properties/*.licx
.vs/
Debug
ipch
*.VC.db