*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*.dll
*.exe
*.licx
Algoritms/
#Assist/
#DataStructuresAndAlgorithms/
DiffgramAnalyzer/
#GitSharp/
#GrabDatabase/
#Note/
ParseQuery2/
#Patterns/
#PerformanceLogAnalyzer/
SocialNetwork/
#WorkWithSvn/
WsdlGeneration/
Dll/
.svn/
#.gitignore
DB/
lib/
tools/
Dllx64/
Dllx86/
TestResults/
