<?xml version="1.0"?>

<configuration>

  <location path="Admin">
    <connectionStrings>
      <add name="AdminConnection" connectionString="DataSource=AdminDb ...."/>
    </connectionStrings>
  </location>

  <location path="User">
    <connectionStrings>
      <add name="UserConnection" connectionString="DataSource=UsersDb ...."/>
    </connectionStrings>
  </location>

</configuration>
