@{
    ViewBag.Title = "SampleSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SampleSelect</h2>

@using (Html.BeginForm())
{
    @Html.DropDownList("Products")

    <input type="submit" />
}