@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("HttpNotFound", "C_02_HttpNotFound")<br />
        @Html.ActionLink("ServerError", "C_03_ServerError")
    </div>
</body>
</html>
