@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul >
        <li>@Html.ActionLink("Base Info", "C_01_BaseInfo")</li>
        <li>@Html.ActionLink("Send data to controller", "C_03_SendDataToController")</li>
    </ul>
</body>
</html>
