@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>C_03_SendData</title>
</head>
<body>
<div>
   
    <p>Данные отправляются с помощью POST запроса</p>
    <form action="@Url.Action("C_04_PostInformation", "_04_ReceiveSimpleTypes")" method="post">
        <input type="text" name="message"/>
        <input type="submit" value="Отправить на сервер"/>
    </form>

    <p>Данные отправляются с помощью GET запроса, как данные в маршруте</p>
    <a href="@Url.Action("C_05_RouteInformation", "_03_ReceiveData", new {id = "hello-world-routedata"})">Route Data</a>

    <br/>
    <p>Данные отправляются с помощью GET запроса, как данные адресной строки</p>
    <a href="~/_01_Controller/_04_ReceiveSimpleTypes/C_06_QueryStringInformation?message=hello-world-querystring">QueryString Data</a>

    <ul>
        <li>@Html.ActionLink("Simple type with route's parameter", "SimpleType/5")</li>
        <li><a href="@Url.Action("SimpleType", "_04_ReceiveSimpleTypes", new {id = 5})">Simple type with route's parameter</a></li>
        <li><a href="~/_01_Controller/_04_ReceiveSimpleTypes/SimpleType?id=5">Simple type with query string parameter</a></li>
        <li><a href="~/_01_Controller/_04_ReceiveSimpleTypes/SimpleType2?ff=5">Simple type with query string ff parameter</a></li>
    </ul>

</div>
</body>
</html>
