@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Send data to controller", "C_03_SendData")</li>
        <li>@Html.ActionLink("Simple form", "C_07_SimpleForm")</li>
    </ul>
</body>
</html>
