@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Model Binding", "Index", "_02_ModelBinding")</li>
    <li>@Html.ActionLink("Validation", "Index", "_03_Validation")</li>
</ul>