@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Base Info", "C_01_BaseInfo")<br />
        @Html.ActionLink("Download File", "C_02_DownloadFile")<br />
        @Html.ActionLink("Download Bytes", "C_03_DownloadBytes")<br />
        @Html.ActionLink("Download Stream", "C_04_DownloadStream")   
    </div>
</body>
</html>
