<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
<title>App</title> 
<script>
	window.onload = function() { 

		var tbody = document.getElementsByTagName('tbody')[0]; 

		tbody.addEventListener('click', function(e) {


			if (e.target.hasAttribute('id')) { 

				if (e.target.classList.contains('edit')) {

					// запрос для редактирования элемента 
					var xhr = new XMLHttpRequest(); 
					xhr.open('GET', e.target.id); 
					xhr.send(); 

					xhr.onload = function() {
						location.href = 'http://localhost:8080/edit/' + e.target.id; 
					}
				
				} else if (e.target.classList.contains('delete')) {
					// запрос для редактирования элемента 
					var xhr = new XMLHttpRequest(); 
					
					xhr.open('DELETE', 'edit/' + e.target.id); 
					xhr.send(); 
					xhr.onload = function() {
						location.href = 'http://localhost:8080';  
						console.log('item deleted'); 
					}
					
				}
			}
		})
	}
</script>
</head> 
	
<body> 
	<div class="panel panel-primary">
		<h1>ToDo List</h1> 
        <table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Completed</th> 
				</tr>
			</thead>
			<tbody>
				<%- data %>
			</tbody>
		</table> 
	</div> 

	<%- buttons ? '	<a href="add" class="btn btn-lg btn-info">Add item!</a> \
					<a href="/" class="btn btn-lg btn-info">Done!</a>' 
			    : ' <a href="edit" class="btn btn-lg btn-info">Edit items!</a>' %>


</body>
</html>