@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Base Info", "S_01_BaseInfo")</li>
    <li>@Html.ActionLink("Internet Application", "Index")</li>
    <li>@Html.ActionLink("XSS", "S_04_XSS_BaseInfo")</li>
</ul>