@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>S_07_ControllerRecomendation</title>
</head>
<body>
    <h4>Общие рекомендации по написанию контроллеров:</h4>
    <p>
        Не делайте открытыми простые методы контроллеров.
        Любой метод из класса контроллера является методом действияи может быть вызван как угодно из Интернета,
        делайте методы, которые не являются методами действия, <span class="code">private</span>.
        Если потребуется открытый метод в контроллере, который не должен быть методом действия,
        используйте атрибут <span class="code">[NonAction]</span>
    </p>
    <p>
        Не позволяйте связывателю модели менять важные свойства.
        Используйте атрибут Bind для указания какие параметры метода действия может инициализировать связыватель модели
    </p>
    <img src="~/Content/Images/bind_secure.jpg" />
</body>
</html>
