@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Using Child Actions</title>
</head>
<body>
    <div>
        @*
            Дочернее действие - метод действия контроллера, который можно выполнить вызвав метод Html.Action в представлении
            @Html.Action("CurrentDate") - Вызов метода в контроллере и вывод результата в представление.
        *@
        <p>
            @Html.Action("CurrentDate")
        </p>

        @*В отличии от частичных представлений дочерние действия позволяют выполнять дополнительные действия в контроллере*@
        <p>
            @Html.Action("ShowTable", new { numberOfRows = 10 })
        </p>
    </div>
</body>
</html>
