<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <!--
        Для установки свойств по умолчанию сервиса $http используется $httpProvider

        свойства:
        defaults.headers.common             Заголовки по умолчанию для всех запросов
        defaults.headers.post               Заголовки для POST запросов
        defaults.headers.put                Заголовки для PUT запросов
        defaults.transformResponse          массив функций для трансформации ответов
        defaults.transformRequest           массив функций для трансформации запросов
        interceptors                        массив фабричных interceptor функций -->
    <title></title>

    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />

    <script>
        angular.module("exampleApp", [])
        .config(function ($httpProvider) {
            $httpProvider.defaults.transformResponse.push(function (response, headers) {
                items = [];
                var elements = angular.element(response.trim()).find("item");
                for (var i = 0; i < elements.length; i++) {
                    var item = elements.eq(i);
                    items.push({
                        name: item.attr("name"),
                        price: item.attr("price")
                    });
                }
                return items;
            })
        })
        .controller("defaultCtrl", function ($scope, $http) {
            $scope.getItems = function () {
                $http.get("../DataFolder/data.xml").success(function (responseData) {
                    $scope.items = responseData;
                });
            }
        });
    </script>
</head>
<body ng-controller="defaultCtrl">
    <div id="tasksPanel" class="panel panel-primary">

        <div class="panel-heading">
            <div class="panel-title">
                <button class="btn btn-success" ng-click="getItems()">
                    <h2>Get Items!</h2>
                </button>
            </div>
        </div>

        <div ng-hide="items.length">
            <h3 class="text-center">No Data</h3>
        </div>

        <table class="table">
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
        </table>

    </div>
</body>
</html>
