@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Base info", "V_01_BaseInfo")</li>
            <li>@Html.ActionLink("Partial Views", "V_02_PartialViews")</li>
            <li>@Html.ActionLink("Strongly Typed Partial Views", "V_03_StronglyTypedPartialViews")</li>
            <li>@Html.ActionLink("Child Action", "V_04_ChildAction")</li>
        </ul>
    </div>
</body>
</html>
