@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Html Helper Method", "HtmlHelperMethod")
<br/>
@Html.ActionLink("Exstension Helper Method", "ExstensionHelperMethod")
<br/>
