<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="http://example.com/notfond.aspx" />
      <error statusCode="500" redirect="http://example.com/error.aspx" />
      <error statusCode="501" redirect="http://example.com/not_implemented.aspx" />
    </customErrors>
  </system.web>
</configuration>
