@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataFromContextObjects</title>
</head>
<body>
    <div>
        <div>
            Свойства контроллера для доступа к информации о запросе.
            <ul>
                <li>Request - данные о текущем HTTP запросе.</li>
                <li>Response - данные о текущем HTTP ответе.</li>
                <li>RouteData - данные маршрутизации для текущего запроса.</li>
                <li>HttpContext - получение специфической информации о текущем HTTP запросе.</li>
                <li>Server - объект с методами для обработки HTTP запроса.</li>

            </ul>
        </div>
    </div>
</body>
</html>
