@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataFromRequest</title>
</head>
<body>
    <div>
        <!--Данные отправляются с помощью POST запроса-->
        <form action="@Url.Action("PostInformation", "_003_ReceiveData")" method="post">
            <input type="text" name="message" />
            <input type="submit" value="Отправить на сервер" />
        </form>

        <!--Данные отправляются с помощью GET запроса, как данные в маршруте-->
        <a href="@Url.Action("RouteInformation", "_003_ReceiveData", new { id = "hello-world-routedata"})">Route Data</a>

        <br />
        <!--Данные отправляются с помощью GET запроса, как данные адресной строки-->
        <a href="~/_001_Controller/_003_ReceiveData/QueryInformation?message=hello-world-querystring">QueryString Data</a>
    </div>
</body>
</html>
