@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Base info", "V_01_BaseInfo")</li>
            <li>@Html.ActionLink("Layouts", "V_02_Layouts")</li>
            <li>@Html.ActionLink("Layout Without Some Sections", "V_03_LayoutWithoutSomeSections")</li>
            <li>@Html.ActionLink("Bundling", "V_04_Bundling")</li>
        </ul>
    </div>
</body>
</html>
