@{
    ViewBag.Title = "Layouts";
    Layout = "~/Areas/_02_View/Views/Shared/_Layout_.cshtml";
}

<p>
    Body
</p>

@section Header{
    <h1>
        <b>Header</b> представления V_04_LayoutWithoutSomeSections
    </h1>
}
@section Body{
    <h1>
        Section Body представления V_04_LayoutWithoutSomeSections
    </h1>
}
@section Footer{
    <h3>
        <b>Footer</b> представления V_04_LayoutWithoutSomeSections
    </h3>
}