@{
    ViewBag.Title = "Orders";

    /*
    LoadingElementId - элемент, который должен отображаться в процессе отправки и получения данных с сервера.
    Confirm - при наличии значения у данного свойства, перед отправкой запроса на сервер будет отображатся диалоговое окно с запросом. 
    */
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("A_02_SimpleAjaxData"),
        LoadingElementId = "loadingIndicator",
        Confirm = "Вы хотите запросить новые данные?"
    };
}

<h2>Orders</h2>

@using (Ajax.BeginForm(options))
{
    <table cellpadding="4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Customer</th>
            </tr>
        </thead>

        <tbody id="tabledata">
            @Html.Action("A_02_SimpleAjaxData", new { id = Model })
        </tbody>

    </table>
    <p>
        @*
            При отправке обратного запроса на сервер, в форме будет содержаться поле id 
            которое методом действия будет использоваться для фильтрации данных
        *@
        @Html.DropDownList("id", new SelectList(new[] { "All", "Ivanov", "Petrov", "Fedorov" }, (Model ?? "All")))
        <input type="submit" value="Submit" /> <img id="loadingIndicator" style="display:none;" src="@Url.Content("~/Content/loading.gif")" />
    </p>
}

@section scripts
{
    @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}