@*
    Все операторы Razor начинаются с символа '@'
    Данное представление строго типизированное. Строка №5 указывает на тип объекта модели.
    Модель, переданная в контроллере в качестве параметра метода View,
    может быть использована по ссылке @Model
*@

@model IEnumerable<_01_ASPMVCTest.Areas._000_Base.Models.Product>

@{
    Layout = null;
    ViewBag.Title = "Products";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>
        При наборе в адресной строке http://localhost:53818/_000_Base/_001_Home/_02_Products
        вызываем Action в _001_HomeController._02_Products()<br />
        При вызове return View(products);
        возвращаем представление из директории /Views/_001_Home/_02_Products.cshtml<br />
        Параметр передающийся в метод View() является моделью,
        которая будет доступна только на чтение в представлении _02_Products
    </p>
    <p>
        Все операторы Razor начинаются с символа '@@'<br/>
        Данное представление строго типизированное. Строка №5 указывает на тип объекта модели.<br />
        Модель, переданная в контроллере в качестве параметра метода View,
        может быть использована по ссылке @@Model
    </p>
    <p>
        Операторы комментария - @@*Чтение свойства элемента модели*@@
    </p>
    <p>
        Префикс строки @@: указывает что строку нужно обработать так,
        как если она будет HTML разметкой
    </p>
    @foreach (var item in Model)
    {
        @*Чтение свойства элемента модели*@
        <h3>Имя продукта: @item.Name</h3>

        if (item.Category == "Канцтовары")
        {
            @*
                Razor понимает, что оператор в теле if начинается с HTML дескриптора,
                и поэтому относится к нему как к разметке, которую нужно генерировать
            *@
            <p>
                На канцтовары действует <b>скидка 10%</b>
            </p>
        }

        if (item.Price < 5)
        {
            @*
                Префикс строки @: указывает что строку нужно обработать так,
                как если она будет HTML разметкой
            *@
            @:стоимость доставки 10 грн.
        }
        <hr />
    }
</body>
</html>
