<!DOCTYPE html>
<html ng-app="sampleApp">
<head>

    <title>Showing an error message</title>

    <!--
        В данном примере валидация формы происходит только после нажатия на кнопку submit
        Для этого на форме установлена директива ng-submit с функцией, которая в качестве
        параметра принимает объект заполняемый в форме и свойство определяющее валидность формы.
    -->

    <script src="/05_AngularJS/00_Libraries/angular.js"></script>
    <link href="/05_AngularJS/00_Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="/05_AngularJS/00_Libraries/bootstrap.css" rel="stylesheet" />

    <script>
        angular.module("sampleApp", [])
            .controller("defaultCtrl", function ($scope) {

                $scope.addNewUser = function (userDetails, isvalid) {
                    if (isvalid) {
                        $scope.message = userDetails.name + " " + userDetails.email;
                    }
                    else {
                        $scope.message = "Error";
                        $scope.showError = true;
                    }
                }

                // Для многих элементов форм ошибки могут быть одинаковыми, 
                // для того чтобы избавиться от дублирования кода
                // можно использовать методы подобные getError
                $scope.getError = function (error) {
                    if (angular.isDefined(error)) {
                        if (error.required) {
                            return "Поле не должно быть пустым";
                        } if (error.email) {
                            return "Введите правильный email";
                        }
                    }
                }
            });
    </script>

    <style>
        form .ng-invalid-required.ng-dirty {
            background-color: lightpink;
        }

        form .ng-invalid-email.ng-dirty {
            background-color: lightgoldenrodyellow;
        }

        form .ng-valid.ng-dirty {
            background-color: lightgreen;
        }

        span.summary.ng-invalid {
            color: red;
            font-weight: bold;
        }

        span.summary.ng-valid {
            color: green;
        }

        div.error {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="panel" style="width:300px" ng-controller="defaultCtrl">
        <form name="myForm" novalidate ng-submit="addNewUser(newUser, myForm.$valid)">
            <div class="well">

                <div class="form-group">
                    <label>Name:</label>
                    <input name="userName" type="text" class="form-control" required ng-model="newUser.name">
                    <div class="error" ng-show="showError">
                        {{getError(myForm.userName.$error)}}
                    </div>
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
                    <div class="error" ng-show="showError">
                        {{getError(myForm.userEmail.$error)}}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    OK
                </button>
            </div>
            <div class="well">
                Message: {{message}}
                <div>
                    Valid:
                    <span class="summary" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
                        {{myForm.$valid}}
                    </span>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

