@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Using Child Actions</title>
    <link href="~/Content/My.css" rel="stylesheet" />
</head>
<body>
    <div>
        <p>
            @Html.Action("CurrentDate")
        </p>

        @*В отличии от частичных представлений дочерние действия позволяют выполнять дополнительные действия в контроллере*@
        <p>
            @Html.Action("ShowTable", new { numberOfRows = 10 })
        </p>
    </div>
</body>
</html>
