// Создание mixin - аналог функции.
.createShadow() {
    -webkit-box-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

div.shadow {
    background-color: lightblue;
    width:100px;
    height:100px;

    // вызов функции
    .createShadow();
}

/* Результирующий CSS

    div.shadow {
        background-color: lightblue;
        width:100px;
        height:100px;
        -webkit-box-shadow: 1px 1px 1px black;
        box-shadow: 1px 1px 1px black;
    }
*/