// Создание mixin с двумя параметрами - аналог функции.
.createGradient(@color1, @color2) {
    background: -webkit-linear-gradient(left, @color1 0%, @color2 100%);
    background: -moz-linear-gradient(left, @color1 0%, @color2 100%);
    background: -ms-linear-gradient(left, @color1 0%, @color2 100%);
    background: linear-gradient(left, @color1 0%, @color2 100%);
}

// Создание mixin с двумя параметрами со значениями по умолчанию.
.setDimensions(@height: 200px, @width: 200px) {
    width: @width;
    height: @height;
}

div.box {
    background-color: lightblue;
    // использование mixin без определения параметров (будут использоваться значения по умолчанию)
    .setDimensions();
    // вызов функции
    .createGradient(rgb(120, 30, 150), rgb(10, 180, 100));
}

/* Результирующий CSS

    div.box {
        background-color: lightblue;
        width: 200px;
        height: 200px;
        background: -webkit-linear-gradient(left, rgb(120, 30, 150) 0%, rgb(10, 180, 100) 100%);
        background: -moz-linear-gradient(left, rgb(120, 30, 150) 0%, rgb(10, 180, 100) 100%);
        background: -ms-linear-gradient(left, rgb(120, 30, 150) 0%, rgb(10, 180, 100) 100%);
        background: linear-gradient(left, rgb(120, 30, 150) 0%, rgb(10, 180, 100) 100%);
    }
*/
