@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseInfo</title>
</head>
<body>
    <p>Способы передачи данных из контроллера в представление:</p>
    <ul>
        <li>Через модель. Предпочтительно использовать строго типизированное представление.</li>
        <li>С помощью ViewBag</li>
        <li>С помощью ViewData (использовалось в MVC 2, осталось для обратной совместимости, применять не рекомендуется)</li>
    </ul>

    <p>
        <strong>ViewBag</strong> - свойство типа dynamic,
        которое предоставляет доступ к объекту типа System.Dynamic.ExpandoObject.
        System.Dynamic.ExpandoObject – класс представляет объект,
        которому можно добавить или удалить новые члены на этапе выполнения.
    </p>
    <p>
        <strong>TempData</strong> - коллекция, которая используется
        для передачи данных между запросами к серверу.
        Данные помещенные в TempData удаляются после того, как будут прочтены.
        Данные помещенные в TempData хранятся в объекте Session пользователя.
    </p>
</body>
</html>
