@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action3</title>
</head>
<body>
    <div>
        @*Чтение данных из ViewData*@
        День недели: @(((DateTime)ViewData["Date"]).Year)
    </div>
</body>
</html>
