@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseTempData</title>
</head>
<body>
    <div>
        TempData - коллекция, которая используется для передачи данных между запросами к серверу.<br />
        Данные помещенные в TempData удаляются после того, как будут прочтены.<br />
        Данные помещенные в TempData хранятся в объекте Session пользователя.<br />
        @Html.ActionLink("Действие #Установить данные", "C_05_SetTempData") <br />
    </div>
</body>
</html>
