@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ActionReadData</title>
</head>
<body>
    <div>
        <h2>Action:ActionReadData</h2>
        Данные полученные из TempData - @Model
        <br />
        @Html.ActionLink("Действие #CheckData", "C_05_ReadTempData")
    </div>
</body>
</html>
