@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Action #HttpNotFound", "ActionHttpNotFound")<br />
        @Html.ActionLink("Action #ServerError", "ActionServerError")
    </div>
</body>
</html>
