@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    WebGrid – класс для вывода данных в табличном представлении.<br /> 
    В качестве источника данных принимает коллекцию. <br /> 
    Для получения разметки таблицы с данными из коллекции используется метода GetHtml() 
</div>
<h2>WebGrid</h2>
@Html.ActionLink("Base Functionality", "BaseFunctionality")
<br />
@Html.ActionLink("WebGrid Styles", "WebGridStyles")
<br />
@Html.ActionLink("WebGrid Columns", "WebGridColumns")
<br />