@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WebGrid</h2>
@Html.ActionLink("Base Functionality", "BaseFunctionality")
<br />
@Html.ActionLink("WebGrid Styles", "WebGridStyles")
<br />
@Html.ActionLink("WebGrid Columns", "WebGridColumns")
<br />