@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>V_01_BaseInfo</title>
</head>
<body>
    <p>
        <strong>Html.DropDownList</strong> – вспомогательный метод для создания выпадающего списка.
    </p>
    <p>
        <strong> Html.ListBox</strong> – вспомогательный метод для создания списка с множественным выбором.
    </p>
</body>
</html>
