@model _01_ASPMVCTest.Areas._02_View.Models.TaskModel

@{
    ViewBag.Title = "Create New Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    При создании строго типизированных представлений удобно использовать строго типизированные вспомогательные методы
    для создания элемента управления и задания для него значения из модели (значение берется на основе лямбда выражения): 
	o Html.CheckBoxFor(лямбда выражение) 
	o Html.HiddenFor(лямбда выражение) 
	o Html.RadioButtonFor(лямбда выражение) 
	o Html.PasswordFor(лямбда выражение) 
	o Html.TextAreaFor(лямбда выражение) 
	o Html.TextBoxFor(лямбда выражение) 
    
    Могут использоваться только в строго типизированных представлениях.

    В качестве обязательного параметра, строго типизированный вспомогательный метод принимает лямбда выражение, 
    которое определяет свойство или поле модели, для работы с которым генерируется элемент управления.  
    Например, Html.TextBoxFor (x => x.FirstName) создаст однострочное поле ввода 
    и при этом установит в качестве значения для атрибута value значение свойства FirstName. 
*@

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Create New Task Form</legend>

        <div>
            <label>Task Name</label>
            @Html.TextBoxFor(m => m.Name)
        </div>

        <div>
            <label>Start Date</label>
            @Html.TextBoxFor(m => m.StartDate)
        </div>

        <div>
            <label>Is Completed</label>
            @Html.CheckBoxFor(m => m.Completed)
        </div>

        <input type="submit" value="Create" />

    </fieldset>
}