<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindConnection" connectionString="Data Source=.\SQLEXPRESS2012;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
