@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Скачать файл 1", "DownloadFile")
        <br />
        @Html.ActionLink("Скачать файл 2", "DownloadBytes")
        <br />
        @Html.ActionLink("Скачать файл 3", "DownloadStream")        
    </div>
</body>
</html>
