<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="dbFile" value="data.db" />
    <add key="dbFormatType" value="rtf" />
    <add key="inType" value="doc" />
    <add key="outType" value="rtf" />
    <add key="alphabetPath" value="RussianAlphabet.txt" />
    <add key="dictionaryPath" value="russian.dic" />
    <add key="dbDirectory" value="DB" />
    <add key="backupDirectory" value="Temp" />
  </appSettings>
  <connectionStrings>
    <add name="ALGORITHMS" connectionString="Data Source=db/algorithms.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="AMC" connectionString="Data Source=db/amc.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="CS" connectionString="Data Source=db/cs.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="CPP" connectionString="Data Source=db/cpp.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="CASINO" connectionString="Data Source=db/casino.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="DI" connectionString="Data Source=db/di.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="ENG" connectionString="Data Source=db/eng.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="GIT" connectionString="Data Source=db/git.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="ISD" connectionString="Data Source=db/isd.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="JAVA" connectionString="Data Source=db/java.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="MOBILE" connectionString="Data Source=db/mobile.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="PATTERNS" connectionString="Data Source=db/patterns.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="SQL" connectionString="Data Source=db/sql.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="TDD" connectionString="Data Source=db/tdd.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="WEB" connectionString="Data Source=db/web.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="WPF" connectionString="Data Source=db/wpf.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="OTHER" connectionString="Data Source={filePath};Version=3;New=False;Compress=True;" providerName="System.Data.SQLite" />
    <add name="SQL_EXPRESS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|data.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Properties.Settings>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
    </Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
