@{
    ViewBag.Title = "Index";
}

<ol>
    <li>@Html.ActionLink("EF CodeFirst", "Index", "_02_EF_CodeFirst")</li>
    <li>@Html.ActionLink("EF Objects With Relations", "Index", "_03_EF_Home")</li>
</ol>
