@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Action #Text", "ActionText")<br />
        @Html.ActionLink("Action #EmptyResult", "ActionEmptyResult")<br />        
    </div>
</body>
</html>
