@model _01_ASPMVCTest.Areas._002_View.Models.Product
@{
    ViewBag.Title = "EditorForModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditorForModel</h2>

@*EditorForModel - визуализирует редакторы для целого объекта модели*@
@Html.EditorForModel()

<br />
@*DisplayForModel - визуализирует представление для чтения свойств целого объекта модели*@
@Html.DisplayForModel()