@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseInfo</title>
</head>
<body>
    <div>
        <div>
            Контроллер - объект, который обрабатывает запросы, поступившие к приложению.
            В MVC контроллер представлен классом который разлизывает интерфейс IController.
            Можно выбрать один из следующих способов создания контроллера:
        </div>
        <ul>
            <li>Реализовать класс IController (при этом будет доступен минимум возможностей при обработке входящего запроса)</li>
            <li>
                Создать класс унаследовав его от типа Controller.
                При этом класс получит много полезных свойств упрощающих работу с данными полученными с запросом.
                Также базовый класс предоставляет возможность использовать результаты действий (ActionResult) для создания ответов, 
                а не генерировать ответ вручную.
            </li>
        </ul>
        <div>
            Для запуска метода контроллера следует сделать запрос по адресу <b>'http://localhost:port/ControllerName/ActionName'</b>
            или <b>'http://localhost:port/ControllerName/'</b>
        </div>
        <div>
            Также данный метод может быть запущен при выполнении запроса <b>'http://localhost:port/'</b>,
            если путь <b>/ControllerName/ActionName</b> настроен как путь по умолчанию в файле /App_Start/RouteConfig.cs
        </div>

        @using (Html.BeginForm("BaseInfo/1", "_001_Home", FormMethod.Post))
        {
            <input type="submit" value="Submit" />
        }
        <p>Variable id = @ViewBag.Message </p>
    </div>
</body>
</html>
