@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <hi>_002_BasicInfoController View</hi>
        <p>
            Для запуска метода контроллера следует сделать запрос по адресу <b>'http://localhost:port/_002_BasicInfoController/Index'</b>  или <b>'http://localhost:port/_002_BasicInfoController/'</b>
        </p>
        <p>
            Также данный метод может быть запущен при выполнении запроса <b>'http://localhost:port/'</b>, если путь <b>/_002_BasicInfoController/Index</b> настроен как путь по умолчанию в файле /App_Start/RouteConfig.cs
        </p>
    </div>
</body>
</html>
