@model _01_ASPMVCTest.Areas._02_View.Models.V_04_ModelWithMetaData
@{
    ViewBag.Title = "ModelMetadata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ModelMetadata</h2>

@Html.EditorForModel()