@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M_01_BaseInfo</title>
    <link href="~/Content/My.css" rel="stylesheet"/>
</head>
<body>
    <p>
        Привязка модели - это процесс создания объектов .NET с использованием данных,
        отправленных браузером в HTTP запросе.
    </p>
    <img src="~/Content/Images/model_binder.jpg"/>
    <p>
        За привязку модели отвечает DefaultModelBinder - класс, который посредством поставщиков данных
        получает информацию из запроса в соответствии с именами параметров метода действия
        и устанавливает значения параметров метода действия, который запускается для обработки запроса.
    </p>
    <p>
        Для того, чтобы получить данные из запроса, связыватель использует коллекцию поставщиков данных.
        Поставщик данных - это класс, который выполните поиск значения в определённой части входящего запроса.
        Например, FormValueProvider производит поиск данных в свойстве Request.Form
    </p>
    <p>
        Приоритет поставщиков данных:
    </p>
    <ol>
        <li>ChildActionValueProvider</li>
        <li>FormValueProvider - значения, переданные в HTML элементах form Request.Form</li>
        <li>RouteDataValueProvider - значения из маршрутов приложения RouteData.Values</li>
        <li>QueryStringValueProvider - данные включенные в строку запроса Request.QueryString</li>
        <li>HttpFileCollectionValueProvider - файлы загруженные как часть запроса. Request.Files</li>
    </ol>
    <p>Для создания пользовательского связывателя данных используется интерфейс IModelBinder.</p>
    <p>Для создания пользовательского поставщика данных используется интерфейс IValueProvider.</p>
</body>
</html>
