@{
    ViewBag.Title = "SimpleTypeBinding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SimpleTypeBinding</h2>
@Html.ActionLink("Action", "M_02_Action", new { id = 10 })<br />
@Html.ActionLink("Action With Default Value", "M_02_ActionWithDefaultValue")<br />
@Html.ActionLink("Action With Nullable Parameter", "M_02_ActionWithNullableParameter")<br />