@{
    ViewBag.Title = "BindingWithPrefix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BindingWithPrefix</h2>
@using (Html.BeginForm())
{
    // name="model1.Prop1" - model1 это префикс, который будет использовать связыватель модели для того,
    // чтобы понять, для какого параметра метода действия адресовано значение

    <input type="hidden" name="model1.Prop1" value="100" /><p>100 (model1)</p>
    <input type="hidden" name="model1.Prop2" value="Hello" /><p>Hello (model1)</p>

    <input type="hidden" name="model2.Prop1" value="200" /><p>200 (model2)</p>
    <input type="hidden" name="model2.Prop2" value="World" /><p>World (model2)</p>

    <input type="submit" name="submit" value="submit" />
}