@{
    ViewBag.Title = "ManualBinding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManualBinding</h2>
@using (Html.BeginForm("M_06_ManualBinding", "_02_ModelBinding"))
{
    <input type="hidden" name="Prop1" value="100" /> <p>100</p>
    <input type="hidden" name="Prop2" value="Hello World" /> <p>Hello world</p>

    <input type="submit" name="submit" />
}