@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FileUpload</h2>
<h3>Выбрите файл для отправки на сервер</h3>

<form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
    Файл - <input type="file" name="file" />
    <br />
    <input type="submit" />

    <p>
        @ViewBag.Message
    </p>
</form>