@{
    ViewBag.Title = "AdvancedBindingSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdvancedBindingSettings</h2>
<script>
    document.cookie = "data=hello-world";
</script>


@using (Html.BeginForm())
{
    <input type="submit" value="Submit" />
}

@ViewBag.Data