@model _01_ASPMVCTest.Areas._03_Model.Models.M_02_TestModelSuccessor

@{
    ViewBag.Title = "CustomModelBinder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomModelBinder</h2>
@using (Html.BeginForm())
{
    @Html.EditorForModel();

    <input type="submit" name="submit" value="submit" />
}