@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Base Info", "V_01_BaseInfo")</li>
    <li>@Html.ActionLink("Form Creation", "V_02_FormCreation")</li>
</ul>