@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>V_01_BaseInfo</title>
</head>
<body>
    <p>
        Html.BeginForm - метод для создания HTML формы.
        Он генерирует элемент form и задает для него допустимое значение
        для атрибута action.
    </p>
    <p>
        Значение устанавливается с учетом механизма маршрутизации.
    </p>
    <p>
        Если использовать данный метод не указывая параметров при вызове,
        метод будет создавать форму, которая отправит данные на тот же URL,
        с которого была получена разметка.
    </p>
</body>
</html>
