@{
    ViewBag.Title = "FormCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Способы создания HTML форм</h2>

@{
    Html.BeginForm("V_02_FormCreation", "_03_HtmlForms");
}

    <p>Первая форма</p>
    <input type="submit" />

@{
    Html.EndForm();
}

@using (Html.BeginForm("V_02_FormCreation", "_03_HtmlForms"))
{
    <p>Вторая форма</p>
    <input type="submit" />
}