<!DOCTYPE html>    

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SampleApp">
<head>
    <title>ng-class</title>
    <!--
        Для управления стилями в AngularJS используются директивы ng-class и ng-style. 
        ng-class - позволяет динамически устанавливать классы для HTML элементы через привязку данных и выражения
        Директива ng-class используется для применения css класса к элементу, 
        ng-style применяет стиль непосредственно к элементу, 
        но при этом предоставляет возможность динамически изменять значения как css атрибутов так и их содержимого. 
        Так же существуют вспомогательные директивы ng-class-even и ng-class-odd для указания css класса четным или нечетным элементам.
    --> 


    <script src="/05_AngularJS/00_Libraries/angular.js"></script>
    <link href="/05_AngularJS/00_Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="/05_AngularJS/00_Libraries/bootstrap.css" rel="stylesheet" />

    <script>
        var app = angular.module("SampleApp", []);

        app.controller("SampleAppCtrl", function ($scope) {

            $scope.selectedClass = "lightGreen";

            $scope.classNames = [{ displayName: "Light Green", value: "lightGreen" },
                { displayName: "Light Blue", value: "lightBlue" },
                { displayName: "Light Coral", value: "lightCoral" }];

        });

    </script>

    <style>
        .lightGreen {
            background-color: lightgreen;
        }

        .lightBlue {
            background-color: lightblue;
        }

        .lightCoral {
            background-color: lightcoral;
        }
        .test-div {
            border:1px solid black;
            width:100px;
            height:100px;
            padding:10px;
        }
    </style>
</head>
<body ng-controller="SampleAppCtrl">

    <div class="container">

        <div class="row well">
            <div class="radio" ng-repeat="item in classNames">
                <label>
                    <input type="radio" name="color" ng-model="$parent.selectedClass" value="{{item.value}}" /> {{item.displayName}}
                </label>
            </div>
        </div>

        <div class="test-div" ng-class="selectedClass">{{selectedClass}}</div>

    </div>
</body>
</html>
