@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Action #1", "GetAction") <br />
        <a id="sendRequest" href="#">Action #2 (JavaScript)</a>

        <div id="result"></div>

        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).ready(function () {
                $("#sendRequest").click(function () {
                    // Получение данных с помощью POST запроса
                    $.ajax({
                        url: "@Url.Action("PostAction", "_10_JsonResult")",
                        type: "POST",
                        success: function (data) {
                            $("#result")
                                .append("Name: " + data.Name + "<br />")
                                .append("Price: " + data.Price + "<br />")
                                .append("Description: " + data.Description + "<br />");
                        }
                    });
                });
            });
        </script>
    </div>
</body>
</html>
