<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InputDir" value="D:\Genetic\Trunk\nd_src\gene"/>
    <add key="OutputDir" value="D:\Temp"/>
    <add key="IgnoredFiles" value=".licx;.suo;.orig;.gitignore"/>
    <add key="IgnoredDirs" value=".svn;obj;Obj;Bin;bin;Debug;Release;dist;Dist;build;Build;generated;.git;.gitignore"/>
    <add key="FilteredFiles" value=""/>
    <add key="FilteredDirs" value=""/>
    <add key="Culture" value="en-US"/>
    <add key="DisplayDir" value="true"/>
    <add key="Provider" value="SVN"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
