<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Admin" /> <!--Вход разрешен для пользователей в роли admin-->
      <deny users="*" /> <!--Вход запрещен для всех остальных пользователей-->
    </authorization>
  </system.web>
</configuration>