@{
    ViewBag.Title = "FormCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Способы создания HTML форм</h2>

@*
    Html.BeginForm - метод для создания HTML формы. 
    Он генерирует элемент form и задает для него допустимое значение для атрибута action. 
    Значение устанавливается с учетом механизма маршрутизации. 
    Если использовать данный метод не указывая параметров при вызове, 
    метод будет создавать форму, которая отправит данные на тот же URL, с которого была получена разметка. 
*@

@{
    Html.BeginForm("Index", "Home");
}

    <p>Первая форма</p>
    <input type="submit" />

@{
    Html.EndForm();
}

@using (Html.BeginForm("Index", "Home"))
{
    <p>Вторая форма</p>
    <input type="submit" />
}
<br />