@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Base info", "V_01_BaseInfo")</li>
        <li>@Html.ActionLink("Child Action", "V_02_ChildAction")</li>
    </ul>
</body>
</html>
