@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseInfo</title>
    <link href="~/Content/My.css" rel="stylesheet" />
</head>
<body>
    <p>
        <strong>Дочернее действие</strong> - метод действия контроллера,
        который можно выполнить вызвав метод Html.Action() в представлении.
    </p>
    <p>
        Дочернее действие используется в тех случаях,
        когда перед визуализацией частичного представления
        необходимо выполнить определенные действия,
        связанные с обработкой данных.
    </p>
    <p>
        Так как эти действия нельзя выполнить в самом дочернем представлении,
        (представление должно заниматься визуализацией данных, а не бизнес логикой)
        его выносят в отдельный метод контроллера,
        который запускается из разметки.
    </p>
    <p>
        После завершения работы, дочернее действие возвращает частичное представление
        передавая ему модель, результирующая разметка частичного представления
        помещается в место вызова вспомогательного метода Html.Action()
    </p>
</body>
</html>
