@*
    Для данного представления явно задан файл компоновки Layout = "~/Areas/_02_View/Views/Shared/_Layout_.cshtml";.
*@

@{
    ViewBag.Title = "Layouts";
    //Layout = "~/Areas/_02_View/Views/Shared/_Layout_.cshtml";
}

@section Header{
    <h1>
        <b>Header</b> представления V_03_Layouts
    </h1>
}
@section Body{
    <h1>
        Section Body представления V_03_Layouts
    </h1>
}
@section Footer{
    <h3>
        <b>Footer</b> представления V_03_Layouts
    </h3>
}
@section DefinedSection{
    <h3>
        <b>DefinedSection</b> представления V_03_Layouts
    </h3>
}

@section DefinedSection2{
    <h3>
        <b>DefinedSection2</b> представления V_03_Layouts
    </h3>
}
