@{
    ViewBag.Title = "SimpleTypeBinding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SimpleTypeBinding</h2>
@Html.ActionLink("Action 1", "Action1", new { id = 10 })<br />
@Html.ActionLink("Action 2", "Action2")<br />
@Html.ActionLink("Action 3", "Action3")<br />