@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Base Info", "V_01_BaseInfo")<br/>
@Html.ActionLink("Embedded Html Helper", "V_02_EmbeddedHelper")<br/>
@Html.ActionLink("Exstension Html Helper", "V_03_ExstensionHelper")<br/>
