@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>V_01_BaseInfo</title>
    <link href="~/Content/My.css" rel="stylesheet" />
</head>
<body>
    <p>
        Встраиваемый вспомогательный метод – метод созданный в представлении
        с использованием ключевого слова @@helper для того,
        чтобы избавиться от дублирования HTML кода.
    </p>
    <p>
        Как и обычный метод, вспомогательный метод может принимать параметры,
        но не может возвращает значение. Вместо этого метод генерирует HTML разметку.
    </p>
    <p>
        Встраиваемый вспомогательный метод можно использовать
        только в представлении где он было объявлен.
    </p>


    <p>

        Внешний вспомогательный метод – расширяющий метод класса HtmlHelper, который используется для создания HTML разметки.
        Для получения доступа к методу используется свойство Html представления.
    </p>
    <p>
        Внешний вспомогательный метод, в отличии от встраиваемых, может использоваться в нескольких представлениях.
    </p>
    <p>
        TagBuilder – класс, который используется при создание вспомогательных методов для генерации HTML разметки.
    </p>
    <table>
        <tr>
            <th>Свойство или метод</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>InnerHtml</td>
            <td>Устанавливает в качестве контента HTML строку. Значение не кодируется.</td>
        </tr>
        <tr>
            <td>SetInnerText(текст)</td>
            <td>Устанавливает в качестве контента текст. Значение кодируется.</td>
        </tr>
        <tr>
            <td>AddCssClass(имя класса)</td>
            <td>Добавляет к элементу атрибут class с определенным значением.</td>
        </tr>
        <tr>
            <td>MergeAttribute(имя, значение)</td>
            <td>Добавляет к элементу атрибута с указанным значением</td>
        </tr>
    </table>
    <p>
        Для того чтобы использовать данный вспомогательный метод,
        необходимо импортировать пространство имен.<br />
        Ссылка на пространство имен может быть добавлено
    </p>
    <ul>
        <li>в файле ~/Views/Web.config</li>
        <li>через выражение @@using _01_ASPMVCTest.Infrastructure;</li>
    </ul>

    <p>
        MvcHtmlString - представляет HTML кодированную строку,
        которая не должна кодироваться повторно.
        Необходимо самостоятельно позаботится о кодировании тех данных,
        с которыми связан риск XSS атаки
    </p>
</body>
</html>
