@using _01_ASPMVCTest.Infrastructure

@{
    ViewBag.Title = "ExstensionHelperMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExstensionHelperMethod</h2>

Дни недели:
@Html.UnorderedList(ViewBag.Days as string[])

Фрукты:
@Html.UnorderedList(ViewBag.Fruits as string[])


@Html.ErrorMessage("Unknown Error")