@model _01_ASPMVCTest.Areas._002_View.Models.Product

<div>
    <ul>
        <li># @Model.ProductId</li>
        <li>Name: @Model.Name</li>
        <li>Price: @Model.Price $</li>
    </ul>
</div>