@model IEnumerable<_01_ASPMVCTest.Areas._002_View.Models.Product>

<table border="1">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ProductId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                $ @item.Price
            </td>
        </tr>
    }

</table>