@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>V_01_BaseInfo</title>
</head>
<body>
    <p>
        Для создания элементов управления можно использовать следующие вспомогательные методы:
    </p>

    <ul>
        <li>Html.CheckBox(“check_box_name”, false) – создание флажка</li>
        <li>Html.Hidden(“hidden_name”, “value”) – скрытое поле (input с типом hidden)</li>
        <li>Html.RadioButton(“radio_name”, “value”, true) – переключатель</li>
        <li>Html.Password(“password_name”, “value”) – поле для ввода пароля</li>
        <li>Html.TextArea(“text_area_name”, “value”, 5, 10, null) – многострочное поле ввода</li>
        <li>Html.TextBox(“text_box_name”, “value”) – однострочное поле ввода</li>
    </ul>
    <p>
        При использовании перегрузки @@Html.TextBox(string) создается input
        с типом text и атрибутом name и id указанном в параметре.
        Важная особенность данного метода - поиск данных для атрибута value
        элемента при вызове.
    </p>
    <p>
        При следующем вызове @@Html.TextBox("Name") поиск будет происходить
        в такой последовательности:
    </p>
    <ol>
        <li>ViewBag.Name</li>
        <li>ViewData["Name"]</li>
        <li>@@Model.Name</li>
    </ol>

    <h4>Строго типизированные элементы</h4>

    <p>
        При создании строго типизированных представлений удобно использовать
        строго типизированные вспомогательные методы
        для создания элемента управления и задания для него значения из модели
        (значение берется на основе лямбда выражения):
    </p>
    <ul>
        <li>o Html.CheckBoxFor(лямбда выражение)</li>
        <li>o Html.HiddenFor(лямбда выражение)</li>
        <li>o Html.RadioButtonFor(лямбда выражение)</li>
        <li>o Html.PasswordFor(лямбда выражение)</li>
        <li>o Html.TextAreaFor(лямбда выражение)</li>
        <li>o Html.TextBoxFor(лямбда выражение)</li>
    </ul>
    <p>Могут использоваться только в строго типизированных представлениях.</p>
    <p>
        В качестве обязательного параметра,
        строго типизированный вспомогательный метод принимает лямбда выражение,
        которое определяет свойство или поле модели,
        для работы с которым генерируется элемент управления.
    </p>
    <p>
        Например, <span class="code"></span>  Html.TextBoxFor (x =&gt; x.FirstName)
        создаст однострочное поле ввода и при этом установит
        в качестве значения для атрибута value значение свойства FirstName.
    </p>

</body>
</html>
