@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    $(document).ready(function () {
        $("#getData").click(function () {
            $.ajax({
                url: "/Home/GetData",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    $("#output").append(data.FirstName + "<br />");
                    $("#output").append(data.LastName + "<br />");
                    $("#output").append(data.Age + "<br />");
                },
            });
        });
    });
</script>

<button id="getData">Get Data</button>
<div id="output"></div>