@{
    ViewBag.Title = "V_01_BaseInfo";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseInfo</title>
    <link href="~/Content/My.css" rel="stylesheet" />
</head>
<body>
    <p>
        <strong>Частичные представления</strong> - это отдельные файлы,
        содержащие фрагменты разметки,
        которые могут быть включены в другие представления.
        Визуализация частичного представления не вызывает метода действия.<br />
        Для вставки в представления разметки частичного представления используется вспомогательный метод<br />
        <span class="code">@@Html.Partial(имя_частичного_представления)</span>
    </p>
    <p>
        <strong>Строго типизированное частичное представление</strong> - отдельный файл, содержащий фрагмент разметки и использующий модель определенного типа.
    </p>
    <p>
        Для создания строго типизированного частичного представления
        используется ключевое слово @@model в начале представления,
        так же, как и при создании обычного строго типизированного представления.
    </p>
</body>
</html>
