@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialViews</title>
</head>
<body>
    <div>
        @*Визуализация частичного представления (Views/Home/_SimpleList.cshtml)*@
        @Html.Partial("_SimpleList")

        @*Визуализация частичного представления (Views/Shared/_ErrorMessage.cshtml)*@
        @Html.Partial("_ErrorMessage")
    </div>
</body>
</html>
