@* 
Для данного представления явно задан файл компоновки Layout = "~/Areas/_002_View/Views/Shared/_Layout.cshtml";.
Если для представления явно не задан файл компоновки,
Компоновка будет устанавливаться в соответствии с настройками файла View/_ViewStart.cshtml
*@

@{
    ViewBag.Title = "Layouts";
    Layout = "~/Areas/_002_View/Views/Shared/_Layout.cshtml";
}

<h2>Layouts</h2>

<p>
    Компоновка (Layout) –эквивалент мастер-страницы в Web Forms.<br />
    Это шаблон страницы, куда добавляется информация из представления, которое должно
    быть возвращено после обработки запроса.<br />
    Компоновка – файл определяющий общий шаблон разметки веб-приложения. Путь компоновки
    по умолчанию находится – Views/Shared/_Layout.cshtml 
</p>

<div>
    Методы для визуализации разметки представлений в файле компоновки
    <ul>
        <li>RenderBody – помещает в компоновку всю размету текущего представления без учета
            той разметки которая находится в отдельных секциях.<br/>
            <img src="~/Content/Images/RenderBody.png" alt="Render Body" />
        </li>
        <li>RenderSection – метод, помещает в компоновку разметку определенной секции из текущего
            представления.<br/>
            <img src="~/Content/Images/RenderSection.png" alt="Render Section" />
        </li>
    </ul>
</div>

@section Header{
    <h1>
        <b>Header</b> представления Layouts
    </h1>
}
@section Body{
    <h1>
        Section Body
    </h1>
}
@section Footer{
    <h3>
        <b>Footer</b> представления Layouts
    </h3>
}
@section DefinedSection{
    <h3>
        <b>Footer</b> представления DefinedSection
    </h3>
}

@section DefinedSection2{
    <h3>
        <b>Footer</b> представления DefinedSection2
    </h3>
}