body 
{
    font-family:Segoe UI, Verdana;
}
#support
{
    border:solid 1px gray;
    border-radius:5px;
    padding:10px;
    color:White;    
    margin:20px;
}
#indicator
{
    float:left;
    height:20px;    
    width:20px;
    margin:4px;
}
