@{
    Layout = null;
}

<!DOCTYPE html>
@*
Функции системы маршрутизации:
·Исследование входящих URL. Определение для какого контроллера и действия предназначен запрос.
·Генерация исходящих URL. Создание URL для ссылок в HTML разметке.

http://mysite.com/Admin/Index - данный URL указывает на метод Index в AdminController.

Сегменты – части URL за исключением имени хоста и строки запроса разделенные символом /.
http://mysite.com/Admin/Index
Admin - Первый сегмент
Index - Второй сегмент

Переменные сегментов
При обработке входящих URL система маршрутизации должна  сопоставить URL с шаблоном и передать значения сегментов в переменные сегментов. Переменные сегментов выражаются символами { и }
Шаблон URL с переменными:  {controller}/{action}

URL запроса
Переменные сегментов
http://mysite.com/Admin/Index
controller=Admin, action=Index
http://mysite.com/Hello/World
controller=Hello, action=World
http://mysite.com/Admin/Index/Test
Соответствий нет - много сегментов
http://musite.com/Admin
Соответствий нет - мало сегментов

Ключевое поведение шаблонов
·Шаблоны будут совпадать только с теми URL, которые имеют то же самое количество сегментов, что и шаблон.
·Если URL имеет правильное количество сегментов, шаблон извлечет значение для переменной сегмента, каким бы оно ни было.
Зарезервированные имена переменных сегментов
·{controller}
·{action}
·{area}
*@


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseInfo</title>
    <style type="text/css">
        .cs2654AE3A
        {
            text-align: left;
            text-indent: 0pt;
            margin: 0pt 0pt 0pt 0pt;
        }

        .cs566403DE
        {
            color: #000000;
            background-color: transparent;
            font-family: Times New Roman;
            font-size: 12pt;
            font-weight: normal;
            font-style: normal;
        }

        .cs37063928
        {
            text-align: left;
            margin: 0pt 0pt 0pt 0pt;
            list-style-type: disc;
            color: #000000;
            background-color: transparent;
            font-family: Arial;
            font-size: 12pt;
            font-weight: normal;
            font-style: normal;
        }

        .cs2488CD45
        {
            color: #000000;
            background-color: transparent;
            font-family: Times New Roman;
            font-size: 12pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .csBB08E6F5
        {
            color: #0000FF;
            background-color: transparent;
            font-family: Times New Roman;
            font-size: 12pt;
            font-weight: normal;
            font-style: normal;
            text-decoration: underline;
        }

        .cs162A16FE
        {
        }

        .cs45E2013F
        {
            width: 255.15pt;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-top: 1px #000000 solid;
            border-right: 1px #000000 solid;
            border-bottom: 1px #000000 solid;
            border-left: 1px #000000 solid;
        }
    </style>
</head>
<body>
    <div>
        <span>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Функции
                системы маршрутизации:</span></p>
            <ul start="1" style="margin-top: 0; margin-bottom: 0;">
                <li class="cs37063928"><span class="cs566403DE">Исследование входящих URL. Определение
                    для какого контроллера и действия предназначен запрос.</span></li>
                <li class="cs37063928"><span class="cs566403DE">Генерация исходящих URL. Создание URL
                    для ссылок в HTML разметке.</span></li>
            </ul>
            <br/>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE"><a
                class="cs2488CD45" href="http://mysite.com/Admin/Index"><span class="csBB08E6F5">http://mysite.com/Admin/Index</span></a></span><span
                    class="cs566403DE"> - данный URL указывает на метод Index в AdminController.</span>
            </p>
            <br/>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Сегменты
                &ndash; части URL за исключением имени хоста и строки запроса разделенные символом
                /.</span></p>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">http://mysite.com/Admin/Index</span>
            </p>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Admin
                - Первый сегмент</span></p>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Index
                - Второй сегмент</span></p>
            <br/>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Переменные
                сегментов</span></p>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">При обработке
                входящих URL система маршрутизации должна &nbsp;сопоставить URL с шаблоном и передать
                значения сегментов в переменные сегментов. Переменные сегментов выражаются символами
                { и }</span></p>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Шаблон
                URL с переменными: &nbsp;{controller}/{action}</span></p>
            <br/>
            <table class="cs162A16FE" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                <tr>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">URL запроса</span>
                        </p>
                    </td>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Переменные
                            сегментов</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">http://mysite.com/Admin/Index</span>
                        </p>
                    </td>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">controller=Admin,
                            action=Index</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">http://mysite.com/Hello/World</span>
                        </p>
                    </td>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">controller=Hello,
                            action=World</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">http://mysite.com/Admin/Index/Test</span>
                        </p>
                    </td>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Соответствий
                            нет - много сегментов</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">http://musite.com/Admin</span>
                        </p>
                    </td>
                    <td class="cs45E2013F" valign="top" width="341">
                        <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Соответствий
                            нет - мало сегментов</span></p>
                    </td>
                </tr>
            </table>
            <br/>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Ключевое
                поведение шаблонов</span></p>
            <ul start="1" style="margin-top: 0; margin-bottom: 0;">
                <li class="cs37063928"><span class="cs566403DE">Шаблоны будут совпадать только с теми
                    URL, которые имеют то же самое количество сегментов, что и шаблон.</span></li>
                <li class="cs37063928"><span class="cs566403DE">Если URL имеет правильное количество
                    сегментов, шаблон извлечет значение для переменной сегмента, каким бы оно ни было.</span>
                </li>
            </ul>
            <br/>
            <p class="cs2654AE3A" style="tab-stops: left 14.4pt;"><span class="cs566403DE">Зарезервированные
                имена переменных сегментов</span></p>
            <ol style="margin-top: 0; margin-bottom: 0;">
                <li class="cs37063928"><span class="cs566403DE">{controller}</span></li>
                <li class="cs37063928"><span class="cs566403DE">{action}</span></li>
                <li class="cs37063928"><span class="cs566403DE">{area}</span></li>
            </ol>
        </span>
    </div>
</body>
</html>
