@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CatchAllSegments</title>
</head>
<body>
    <div>
        id = @ViewBag.Id
        <br />
        catchall = @ViewBag.All
        <br />
        <br />
        <br />
        <a href="~/_004_Routing/_001_Home/CatchAllSegments/ggg/jjj/10/hello/world">/_004_Routing/_001_Home/CatchAllSegments/ggg/jjj/10/hello/world</a>
    </div>
</body>
</html>
