@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateUrl</title>
</head>
<body>
    <div>
        @*Url объект, упрощающий создания URL опираясь на настройки системы маршрутизации*@
        @Url.Action("TestAction", "Test")<br />
        @Url.RouteUrl(new { action = "TestAction", controller = "Test" })<br />
        <a href="@Url.Action("Index1", "_001_Home")">@@Url.Action</a><br />
        <a href="@Url.RouteUrl(new { action = "Index1", controller = "_001_Home", area = "_004_Routing"})">@@Url.RouteUrl</a><br />
    </div>
</body>
</html>
