@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IgnoreRote</title>
</head>
<body>
    <div>
        IgnoreRote Sample<br />
        <a href="~/trace.axd">Trace Info</a>
    </div>
</body>
</html>
