@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @* @ViewBag.Variable вывод значение свойства из динамической коллекции*@
        <h2>Variable: @ViewBag.Message</h2>
        <a href="~/_004_Routing/_001_Home/SegmentVariables1/123/456">/_004_Routing/_001_Home/SegmentVariables1/123/456 (OK)</a><br />
        <a href="~/_004_Routing/_001_Home/SegmentVariables2/123/456">/_004_Routing/_001_Home/SegmentVariables2/123/456 (OK)</a><br />
        <a href="~/_004_Routing/_001_Home/SegmentVariables22/123/456">/_004_Routing/_001_Home/SegmentVariables22/123/456 (Error)</a><br />
        <a href="~/_004_Routing/Test/SegmentVariables2/123/456">/_004_Routing/Test/SegmentVariables2/123/456 (Error)</a><br />
    </div>
</body>
</html>
