@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaticSegments</title>
</head>
<body>
    <div>
        <a href="~/_004_Routing/_001_Home/Index">Routing/_001_Home/Index</a><br />
        <a href="~/_004_Routing/public/_001_Home/Index">Routing/_001_Home/Index</a><br />
    </div>
</body>
</html>
