<?xml version="1.0"?>

<configuration>
  
  <appSettings>
    <add key="ProjectName" value="AppSettingsSection"/>
    <add key="ProjectVersion" value="1.0"/>
    <add key="server" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="login" value="alexandrzpua19@gmail.com"/>
    <add key="password" value="___!(*)@()("/>
  </appSettings>
  
</configuration>
