@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Model Binding", "Index", "_002_ModelBinding")<br />
@Html.ActionLink("Validation", "Index", "_003_Validation")<br />