<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CSTest.Properties.Settings.ShopDBConnectionString" connectionString="Data Source=.\SQLEXPRESS2014;AttachDbFilename=|DataDirectory|\AppData\ShopDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ShopDBEntities" connectionString="metadata=res://*/21_Database.02_EntityFramework.01_DatabaseFirst.ShopDB.csdl|res://*/21_Database.02_EntityFramework.01_DatabaseFirst.ShopDB.ssdl|res://*/21_Database.02_EntityFramework.01_DatabaseFirst.ShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2014;attachdbfilename=|DataDirectory|\AppData\ShopDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbFile" value="data.db" />
    <add key="dbFormatType" value="rtf" />
    <add key="inType" value="doc" />
    <add key="outType" value="rtf" />
    <add key="alphabetPath" value="RussianAlphabet.txt" />
    <add key="dictionaryPath" value="russian.dic" />
  </appSettings>
  <applicationSettings>
    <CSTest.Properties.Settings>
      <setting name="TestString" serializeAs="String">
        <value>TestStringValue</value>
      </setting>
    </CSTest.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>