@{
    ViewBag.Title = "F_03_ProfileFilters";
}

<ul>
    <li>@Html.ActionLink("Медленный метод действия", "F_04_SlowAction")</li>
    <li>@Html.ActionLink("Медленное представление", "F_04_SlowView")</li>
</ul>

