@{
    ViewBag.Title = "F_06_GlobalFilters";
}

<p>
    Глобальные фильтры применяются ко всем действиям в контроллерах. Фильтры регистрируются как
    глобальные с помощью метода RegisterGlobalFilters в App_Start\FilterConfig.сs
</p>
@Html.ActionLink("Тестовое действие", "F_06_GlobalFiltersTest")
