<?xml version="1.0"?>
<configuration>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="HELP" connectionString="Data Source=help.db;Version=3;New=False;Compress=True;" providerName="System.Data.SQLite"/>
    <add name="ACCESS" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=NWIND.MDB; Jet OLEDB:System Database=System.MDW" providerName="System.Data.OleDb"/>  
    <add name="WORK" connectionString="Data Source=//isd224.isd.dp.ua:1521/weizen_isd222.isd;User ID=gcm_pgr; Password=gcm_pgr; Unicode=True" providerName="System.Data.OracleClient"/>    
    <add name="HOME_ORACLE" connectionString="Data Source=//winserver2003:1521/orcl;User ID=akul; Password=akul; Unicode=True" providerName="System.Data.OracleClient"/>  
    <add name="SQL_EXPRESS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|data.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>   
  </connectionStrings> 
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
