@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateLink</title>
</head>
<body>
    <div>
        @Html.ActionLink("ActionLink A_02_ActionWithoutParameters", "A_02_ActionWithoutParameters", "_02_Link")
        <br />
        <br />
        @Html.RouteLink("RouteLink A_02_ActionWithoutParameters", new { controller = "_02_Link", action = "A_02_ActionWithoutParameters" })
        <br />
        <br />
        @*Передача дополнительных параметров действию*@
        @Html.ActionLink("ActionLink A_02_ActionWithParameters", "A_02_ActionWithParameters", "_02_Link", new { id = "Ivanov-Ivan" }, null)
        <br />
        <br />
        @*Добавление HTML атрибутов*@
        @Html.ActionLink("ActionLink A_02_ActionWithParameters with style", "A_02_ActionWithParameters", "_02_Link", new { id = "Ivanov-Ivan" }, new { style = "font-size:25px;" })
        <br />
        <br />
    </div>
</body>
</html>
