@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ol>
            <li>@Html.ActionLink("Link and Url Base Info", "A_01_BaseInfo", "_02_Link")</li>
            <li>@Html.ActionLink("Generate Link", "A_02_GenerateLink", "_02_Link")</li>
            <li>@Html.ActionLink("Generate Url", "A_03_GenerateUrl", "_02_Link")</li>
        </ol>
    </div>
</body>
</html>
